*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}
.App{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(188, 188, 255);
}

